<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>637762013744-mnsg580i59ldkbvq3bghm33rqmsgnd4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637762013744-mnsg580i59ldkbvq3bghm33rqmsgnd4k</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9aCIS0hDbcH3zKBNc3C5vv6L0ai7Stg</string>
	<key>GCM_SENDER_ID</key>
	<string>637762013744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saber.Pawpads</string>
	<key>PROJECT_ID</key>
	<string>pawpads-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpads-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637762013744:ios:d608ae1b42581867</string>
	<key>DATABASE_URL</key>
	<string>https://pawpads-rn.firebaseio.com</string>
</dict>
</plist>